.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    width: 100%;
    margin: 0;
}

.nav {
    display: flex;
    flex-grow: 1; /*Allow nav to take up remaining space*/
}

.navLink {
    text-decoration: none;
    padding: 12px 12px;
    border: 1px solid transparent;
    color: whitesmoke;
    cursor: pointer;
    transition: all 0.3s ease;
}

.navLink:hover {
    background-color: #f0f0f0;
    color: orchid;
}

.logoA {
    text-transform: uppercase;
    text-decoration: none;
    color: whitesmoke;
    cursor: pointer;
    margin-right: 31.5%;
}

.logoB{
    text-transform: uppercase;
    text-decoration: none;
    color: whitesmoke;
    cursor: pointer;
    margin-right: 31%;
}

.logoA:hover {
    color: orchid;
}

.logoB:hover {
    color: orchid;
}

.auth {
    display: flex;
    /* gap: 10px; */
}

.login,
.logout,
.signup,
.myorder {
    text-decoration: none;
    padding: 12px 10px;
    border: 1px solid transparent;
    color: whitesmoke;
    cursor: pointer;
    transition: all 0.3s ease;
}

.login:hover,
.logout:hover,
.signup:hover,
.myorder:hover {
    background-color: #f0f0f0;
    color: orchid;
}
