.blogContainer {
    display: flex;
    flex-wrap: wrap;
}

.blogItem {
    width: 100%;
    padding: 10px;
    padding-bottom: 7.1%;
}

.blogImage {
    width: 100%;
    margin-top: 5%;
}

@media (min-width: 480px) {
    .blogItem {
        width: 50%;
    }
}
