.orderMessage {
  padding: 2% 5%;
  padding-left: 41.5%;
  padding-bottom: 17.35%;
  padding-top: 18%;
  width: max-content;
  background-color: rgb(213, 255, 98);
  text-align: center;
}

.orderDetails{
  padding: 2%;
  background-color: rgb(213, 255, 98);
}

.orderContainer{
  margin: 10% auto;
  background-color: rgb(213, 255, 98);
  width: 60%; /* Adjust the width to match the header */
  margin-left: 20%;
  padding-bottom: 24px;
  
}

.orderHead{
  text-align: center;
  color: whitesmoke;
  background-color: black;
  padding: 1%;
  width: 100%; 
}

.orderList {
  
  list-style-type: none;
  padding: 0;
}

.orderItem {
  /* border-bottom: 1px solid black; */
  padding: 1%;
  margin: 1% 0;
  padding-left: 5%;
}

.orderCheck{
  margin-top: 3%;
  margin-left: 16%;
}

/* For mobile devices */
@media (max-width: 768px) {

  .orderContainer {
    width: 90%;
    margin-left: 5%; 
    margin-top: 188.5px;
    margin-bottom: 188.5px;
  }

  .orderMessage {
    padding: 10%; 
    padding-left: 27%;
    padding-top: 27%; 
    padding-bottom: 20%;
  }

  .orderHead {
    padding: 5%;
  }

  .orderList{
      padding-left: 2%;
      font-size: small;
  }

  .orderItem{
    padding-left: 4%;
    font-size: small;
  }

}
